:root {
  font-family: 'Noto Sans HK', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0f172a;
  background: radial-gradient(circle at top left, #e5e7eb, #f9fafb);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #4f46e5;
  text-decoration: none;
}

a:hover {
  color: #4338ca;
}
